SCRAPER_DEV_LIMIT=3
SCRAPER_HEADLESS=true
SCRAPER_ENV=debug
NOPECHA_API_KEY=
# Proxy Configuration (DataImpulse recommended)
# Rotating URL for Scrapy (e.g. http://user:pass@gw.dataimpulse.com:823)
ROTATING_PROXY_URL=
# Sticky URL for Selenium (Same host, but used for sticky sessions)
STICKY_PROXY_URL=
http://your_proxy_url